<ion-header>
  <ion-toolbar>
    <ion-title>UbiSun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!perigo">

  <ion-card>
      <ion-card-header>
        <p>Olá <strong>{{ nome }}</strong></p>
      </ion-card-header>

      <ion-card-content>

        <p>Você definiu <strong>{{ tempo_maximo }}</strong> minutos como seu tempo máximo de exposição ao sol.</p>
        <p>E você definiu que sua pela é: <strong>{{ getTipoPele() }}</strong> </p>

        <p *ngIf="hora_inicio">Você está no sol desde: <strong>{{ hora_inicio }}</strong></p>
      </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-header>
        <strong>Dados dos Sensores</strong>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>Humidade: {{ dados_sensor.hum }}</ion-item>
          <ion-item>Temp: {{ dados_sensor.tmp }}</ion-item>
          <ion-item>Lum: {{ dados_sensor.lum }}</ion-item>
        </ion-list>


      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <strong>Dados GPS</strong>
      </ion-card-header>
      <ion-card-content>
          <ion-list>
            <ion-item>Sua latitude: {{ cords['lat'] }}</ion-item>
            <ion-item>Sua longitude: {{ cords['lng'] }}</ion-item>
            <ion-item>Cor de pele: {{ getTipoPele() }}</ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>

    <button (click) = "getPosition()" ion-button>GPS aqui</button>

</ion-content>

<ion-content  padding *ngIf="perigo">
  <ion-card class="perigo">
    <ion-card-header>
      <ion-card-title>
        SEU TEMPO LIMITE ESGOTOU-SE
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vá para um safepoint imediatamente!
    </ion-card-content>
  </ion-card>

</ion-content>

